body {
  background-color: #f8f8f8;
}

#navigation-bar {
  box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.21);
}

.home-template,
.post-template {
  #content {
    article {
      background-color: #fff;
      padding: 15px;
      border: 1px solid rgba(204, 204, 204, 0.27);

      .comment-count {
        font-size: 13px;
        font-family: @font-family-alt;
      }
    }
    .widget {
      padding: 15px;
      background-color: #fff;
      border: 1px solid rgba(204, 204, 204, 0.27);
    }
  }
}

#mc_embed_signup {
  background: none!important;
  form {
    padding: 0!important;
  }
  .button {
    background-color: @owen-purp!important;
  }
}

.post .entry-meta {
  color: #000;
}
.post .entry-meta .author-name a {
  color: #000;
}


