<aside class="widget widget-text">
	<h4 class="widget-title">Contact Us</h4>
	<p>
		I love talking yoga! Feel free to get in touch with me <a href="mailto:theyogabeanuk@gmail.com">here</a>.  I look forward to hearing off you. LM x
	</p>
</aside>
