<aside class="widget widget-links">
	<h4 class="widget-title">Useful Links</h4>
	<ul>
		{{! Here are some examples below. You can add any link you want. }}
		<li><a href="/about">About</a></li>
    <li><a href="/advertise">Advertise</a></li>
    <li><a href="/tag/yoga">Yoga</a></li>
    <li><a href="/tag/health">Health</a></li>
		<li><a href="/tag/fitness">Fitness</a></li>
{{!-- 		<li><a href="#">Terms</a></li>
 --}}	</ul>
</aside>
