var mondoOptions = {
	'retina_logo': '',
	'disqus_shortname': 'theyogabean',
	'facebook_page': '',
	'copyright_text': 'The Yoga Bean | Powered by <a href="http://ghost.org">Ghost</a>',
	'instagram': {
		'client_id': 'ad53063f42cb427eb6fcf02c6abab8b3',
		'access_token': '2594828377.1677ed0.f3e7688822de422facae56d33b52be9a',
		'user_id': '2594828377'
	},
	'slider_items': [
    '/introduction/',
    '/why-yoga/',
    '/positivity-a-help-or-a-hindrance/',
    '/poses-to-lighten-your-mood/',

 	],
	'top_stories': [
    '/introduction/',
    {{!-- 'http://yb.local/advertise/', --}}
	],
	'social_links': {
		'twitter': 'https://twitter.com/theyogabeanuk',
		'facebook': 'https://www.facebook.com/theyogabeanuk',
		'youtube': '',
		'pinterest': '',
		'dribbble': '',
		'instagram': 'https://www.instagram.com/theyogabeanuk',
		'linkedin': '',
		'tumblr': '',
		'google-plus': '',
		'behance': '',
		'flickr': '',
		'github-alt': '',
		'slideshare': '',
		'codepen': '',
		'reddit': '',
		'soundcloud': '',
		'steam': '',
		'twitch': '',
		'vine': '',
		'vk': '',
	},
}
